@import "tailwindcss";
@import './styles/fonts.css';

@theme {
  --font-sans: "04b03", monospace;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: '04b03', monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smooth: never;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Ensure crisp pixel rendering */
* {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}